<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Password" value="C:\Users\goodwin\Documents\stories\stories.password"/>
		<add key="StoryFile" value="C:\Users\goodwin\Documents\stories\fantasy.story"/>
		<add key="Backup" value="D:\Data\Dropbox\projects\story\fantasy.backup"/>
	</appSettings>
</configuration>